<div>
    <h2 class="h2 mb-5">Add New Recipe</h2>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" [(ngModel)]="recipe.name" placeholder="Recipe Name">
        <label for="floatingName">Recipe Name</label>
      </div>
      <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingDesc" [(ngModel)]="recipe.description" placeholder="description"></textarea>
        <label for="floatingDesc">Description</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingLink" [(ngModel)]="recipe.imagePath" placeholder="Recipe Name">
        <label for="floatingLink">Photo Link</label>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="addRecipe()" >Submit</button>
      </div>
</div>